/* General styles */
.clearfix{clear: both; height: 0;}
.hide{display:none;}

/* Styles for Contact Widget */
.contact-list{
    float: left;
    width: 100%;
    height: 24.67em;
    padding: 0.64em;
    margin-bottom: 16px;
    overflow-y: scroll;
}

.contact-list .row-contact{
    float: left;
    border: 1px solid #ECE9E9;
    padding: 0.32em 0;
    width: 100%;
    font-size: 0.9em;
    font-family: Helvetica;
    color: #403B5A;
    background-color: #FAFBFB;
}

.contact-list .row-contact .img-col{
    float: left;
    text-align: center;
    width: 12%;
    padding: 0.64em;
}

.contact-list .row-contact .col{
    float: left;
    padding: 1.284em;
    width: 30%;
    text-align: left;
    border-left: 1px solid #ECE9E9;
}

.inactive{
    color: #9B9B9B;
}

.inactive-label{
    font-family: Helvetica;
    font-size: 0.77em;
    color: #9B9B9B;
    padding: 0.64em;
}

.inactive-row-contact{
    color: #9B9B9B !important;
}

/* Styles for Contact Search */
.contact-search-container{
    width: 96.7%;
    height: 2.2em;
    padding: 0.60em;
}

.contact-search-container .search-placeholder{
    float: left;
    position: absolute;
    top: 6.7em;
    padding-left: 0.7em;
}

.contact-search-container .search-placeholder .icon{
    float: left;
    padding: 0 0.64em;
}

.contact-search-container .search-placeholder .info{
    float: left;
    font-family: Helvetica;
    font-size: 0.9em;
    color: #9B9B9B;
    letter-spacing: 0.01em;
    text-align: left;
}

.contact-search-container .search-input{
    width: 99%;
    height: 100%;
    font-size: 0.96em;
    padding: 0.32em 1.0em;
    border-style: none;
    outline: none;
    background: #EBECEE;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .contact-list .row-contact .img-col{
        float: left;
        text-align: center;
        width: 5%;
        padding: 0.64em;
    }

    .contact-list .row-contact .col{
        float: left;
        padding: 1.284em 0 1.284em 1.284em;
        width: 20%;
        text-align: left;
        border-left: 1px solid #ECE9E9;
    }
}

/* xtra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .contact-list .row-contact .img-col{
        float: left;
        text-align: center;
        width: 5%;
        padding: 0.64em;
    }

    .contact-list .row-contact .col{
        float: left;
        padding: 1.284em 0 1.284em 1.284em;
        width: 20%;
        text-align: left;
        border-left: 1px solid #ECE9E9;
    }
}